.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: calc(10px + 2vmin);
  padding: 10px;
  margin: auto;
}

.canvas {
  margin: auto;
}

.config-panel {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: auto;
}

.config-panel > * {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
